.folder-out{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: palegoldenrod;
    height: 25px;
    width: 135px;
    border-color: sienna;
    padding: 2%;
    margin: 4px;
}